@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* globals.css o tailwind base */
html,
body,
#root {
  cursor: url("/cursor.png") -16 -16, auto;
  width: 100%;

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.section-title {
  @apply text-3xl w-full text-center font-bold text-gray-800 mb-6 border-b-4 border-yellow-500 pb-2 md:text-4xl
}

.secondary-button {
  @apply border-2 border-blue-500 text-blue-600 bg-transparent hover:bg-blue-50
}

/* --------------------------------- SERVICES -------------------------------- */

.services-container {
  @apply flex flex-col gap-5 w-full text-center lg:w-80 lg:text-left;
}

.services-title {
  @apply text-3xl font-bold text-yellow-800
}

.services-paragraph {
  @apply text-gray-700 text-base leading-relaxed
}

/* --------------------------------- SERVICES -------------------------------- */


@keyframes shine {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.shine {
  background-size: 200% auto;
  animation: shine 10s linear infinite;
}



.animate-fadeSlide {
  animation: fadeSlide 1.5s ease-out forwards;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-outline {
  color: white;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}





.animate-fade-in-right {
  animation: fadeInRight 1s ease-out both;
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-15px);
    filter: blur(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(15px);
    filter: blur(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}





.booking_image {
  background-image: url("/booking_image.webp");
  background-position: 0px -265px;
  background-repeat: no-repeat;
}

/* Subrayado animado para los NavLink */
.text-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.text-underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #ca8a04;
  /* amarillo tailwind (yellow-600 aprox) */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Al pasar el mouse: subrayado crece de izquierda a derecha */
.text-underline:hover::before {
  transform: scaleX(1);
}

/* Cuando el enlace está activo: subrayado permanente */
.text-yellow-400.text-underline::before {
  transform: scaleX(1);
}



.carrousel {
  position: relative;
  width: 90%;
  display: flex;
  overflow-x: auto;
}

.fade-in-carrousel {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



.card {
  display: flex;
  max-height: 300px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.group {
  display: flex;
  gap: 20px;
  animation: translate_x 50s infinite linear;
  padding-left: 0px;
}

@keyframes translate_x {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

.carrousel::-webkit-scrollbar {
  display: none;
}



.reveal_delay_2s {
  animation: fadeIn .5s ease-in forwards;
  animation-delay: .5s;
}


@media screen and (height <=700px) {
  .booking_image {
    background-position: -1000px -200px;
  }
}

@media screen and (width <=600px) {
  .booking_image {
    background-position: -1000px -200px;
  }
}























select {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 9999px;
  padding: 0.4rem 1rem;
  border: 1px solid #cbd5e1;
  color: #1e3a8a;
  font-weight: 500;
  cursor: pointer;
  backdrop-filter: blur(4px);
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #2C2C2C;
}

::-webkit-scrollbar-thumb {
  background-color: #9F9F9F;
  border-radius: 8px;
  border: 1px solid rgb(98, 94, 94);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


















.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  overflow-x: auto;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  ;
  animation: rotate 10s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity) * 1deg))) translateZ(100px);
    animation-name: handleOpacity;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}


.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@keyframes handleOpacity {

  25%{
    opacity: var(--opacity25);
  }

  50%{
    opacity: var(--opacity50);
  }

  75%{
    opacity: var(--opacity75);
  }

  100% {
    opacity: var(--opacity100);
  }
}