@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* globals.css o tailwind base */
html,
body,
#root {
  cursor: url("/cursor.png") 4 6, auto;
  height: 100dvh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 1.5s ease-out forwards;
}

.text-outline {
  color: white;
  text-shadow:
    1px 1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black;
}



@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-15px);
    filter: blur(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(15px);
    filter: blur(2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

.animate-fade-in-right {
  animation: fadeInRight 1s ease-out both;
}

.animate-fade-in-left {
  animation: fadeInLeft 1s ease-out both;
}







.booking_image {
  background-image: url("/booking_image.jpg");
  background-position: 0px -265px;
  background-repeat: no-repeat;
}

/* Subrayado animado para los NavLink */
.text-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.text-underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #ca8a04;
  /* amarillo tailwind (yellow-600 aprox) */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Al pasar el mouse: subrayado crece de izquierda a derecha */
.text-underline:hover::before {
  transform: scaleX(1);
}

/* Cuando el enlace está activo: subrayado permanente */
.text-yellow-400.text-underline::before {
  transform: scaleX(1);
}



.carrousel {
  position: relative;
  width: 90%;
  display: flex;
  overflow-x: auto;
}

.fade-in-carrousel {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 1s
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



.card {
  display: flex;
  max-height: 300px;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.group {
  display: flex;
  gap: 20px;
  animation: translate_x 50s infinite linear;
  padding-left: 0px;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

@keyframes translate_x {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

.reveal_delay_2s {
  animation: fadeIn .5s ease-in forwards;
  animation-delay: .5s;
}


@media screen and (height <= 700px) {
  .booking_image{
    background-position: 1000px -100px;
    background-color: red;
  }
}

@media screen and (width <= 600px) {
  .booking_image{
    background-position: -1400px -200px;
  }
}



























::-webkit-scrollbar {
  width: 10px;
  /* vertical scrollbar */
  height: 10px;
  /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #2C2C2C;
  /* color del track */
}

::-webkit-scrollbar-thumb {
  background-color: #9F9F9F;
  /* color del thumb */
  border-radius: 8px;
  /* bordes redondeados */
  border: 1px solid rgb(98, 94, 94);
  /* espacio entre track y thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* color del thumb al hover */
}

@media (pointer: coarse) {
  html, body {
    cursor: url('/favicon-final.png'), auto !important;
  }

  *:hover {
    cursor: url('/favicon-final.png'), auto !important;
  }
}